@import "../../scss/_variables.scss";
@import "../../scss/mixins.scss";
@import "../ServicesSlider/ServicesSlider.scss";

.services {
  color: $white;
  margin-top: 52px;
  @media (max-width: 767px) {
    margin-top: 100px;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px;
    @media (max-width: 767px) {
      gap: 40px;
    }
  }

  // .services__block-title

  &__block-title {
  }
}
.container {
}
.services-block-title {
  // .services-block-title__title

  @include __title;
}
