@import "../../scss/_variables.scss";
@import "../../scss/mixins.scss";
@import "../ServicesSlider/ServicesSlider.scss";

.services {
  color: $white;
  margin-top: 52px;
  @media (max-width: 767px) {
    margin-top: 100px;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  // .services__block-title

  &__block-title {
  }
}
.container {
}
.services-block-title {
  // .services-block-title__title

  &__title {
    font-size: 45px;
    line-height: 1.2;
    text-transform: uppercase;

    background: linear-gradient(90deg, #ff8a1e 31.63%, #fff9d8 111.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
