@import "../../scss/variables";
@import "../../scss/mixins.scss";

.materials {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background: url("../../images/materials/sots.svg");
    min-width: 955px;
    min-height: 696px;
    top: -105px;
    right: 5%;
    z-index: -1;
    @media (max-width: 769px) {
      top: unset;
      bottom: -144px;
      min-width: 400px;
      min-height: 291px;
    }
  }

  .materials-title-block {
    // .materials-title-block__title

    &__title {
      margin: 0px 0px 60px 0px;
      text-align: center;
    }
  }
  .slick-slide {
    display: flex;
    justify-content: center;
  }
  .slick-dots {
    bottom: 38px;
    margin-right: -31px;
    width: 62px;
  }
  .video-item {
    display: flex;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 160px;
      min-height: 160px;
      background-image: url("../../images/materials/Play.webp");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: all 0.3s ease 0s;
      @media (max-width: 769px) {
        min-width: 60px;
        min-height: 60px;
      }
    }
    &:hover,
    &:focus {
      &::after {
        transition: all 0.3s ease 0s;
        opacity: 0.6;
      }
    }
    &:active {
      &::after {
        opacity: 0.8;
        scale: 0.9;
      }
    }
    img {
      object-fit: cover;
      object-position: bottom;
      min-width: 800px;
      max-height: 600px;
      padding: 0px 15px;
      @media (max-width: 769px) {
        object-fit: contain;
        object-position: center;
        max-width: 345px;
        min-width: 345px;
        min-height: 345px;
      }
    }
  }
  .video-description {
    margin: 30px 0px 0px 0px;
    @media (max-width: 769px) {
      margin: 20px 0px 0px 0px;
    }
    h3 {
      color: $white;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .slick-arrow {
    top: 50%;
    margin: -30px 0px 0px 0px;
  }
}
