@import "../../scss/variables";
@import "../../scss/mixins.scss";

// Стилі для попапу */

.close {
  color: $black;
  font-size: 39px;
  position: absolute;
  line-height: 1.8rem;
  padding: 0.8rem;
  cursor: pointer;
  right: 0;
  top: 0;
  z-index: 2;
  transition: all 0.3s ease 0s;
  @media (max-width: 767px) {
    color: $white;
  }
  &:hover,
  &:focus {
    @include active-scale;
  }
}

.popup-arrow {
  display: none;
}
.popup-content {
}
.hero-title__popup-content {
  height: 440px;
  width: 720px;
  @media (max-width: 767px) {
    position: unset !important;
    height: 200px;
    width: 345px;
  }
}
.hero-title__popup-content .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  overflow: hidden;

  @media (max-width: 767px) {
    height: 200px;
    width: 345px;
  }
  height: 440px;
  width: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    @include font-tel;
    font-size: 30px;
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: url("../../images/hero/vector-sots-top.svg") 0 0 no-repeat;
    z-index: -2;
    @media (min-width: 767px) {
      scale: 2.3;
      margin: 50px 0px 0px 90px;
    }
    filter: drop-shadow(0px 2px 2px #ff8a1e);
    width: 145px;
    height: 119px;
  }

  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";

    background: url("../../images/hero/vector-sots-bottom.svg") 0 0 no-repeat;
    z-index: -2;
    @media (min-width: 767px) {
      scale: 2.3;
      margin: 0 50px 60px 0;
    }
    filter: drop-shadow(0px 2px 2px #ff8a1e);
    width: 127px;
    height: 100px;
  }

  .hero-title__popup-content-item__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 15px;
    transition: all 0.3s ease 0s;
    &::before {
      content: "";
      width: 30px;
      height: 30px;
      background-image: url("../../images/modal/modal-telephone.svg");
    }
    &:active {
      @include link-active;
    }
    &:hover,
    &:focus {
      transition: all 0.3s ease 0s;
      color: $black;
    }
  }
}

.popup-overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  z-index: 50;
}
