@import "../../scss/variables";
@import "../../scss/mixins.scss";

.hero {
  height: 796px;
  position: relative;
  padding-top: 100px;
  color: $white;
  @media (max-width: 767px) {
    height: 697px;
  }
  .hero__bg {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../../images/hero/background-hero-section.png");
    margin-top: -100px;
    height: 100%;
    width: 100%;
    z-index: -100;
    &::before {
      content: "";
      width: 440px;
      height: 440px;
      background-size: contain;
      background-image: url("../../images/hero/logo-transparent.png");
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @media (max-width: 767px) {
      opacity: 0.7;
      &::before {
        width: 260px;
        height: 260px;
      }
    }
  }
  // .hero__title-block
  &__title-block {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -154px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-left: 25px;
    @media (max-width: 767px) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      margin: -248px 0px 0px 0px;
    }
  }

  // .hero__title-item

  &__title-item {
  }

  // .hero__button

  &__button {
  }

  // .hero__social-block

  &__social-block {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .container {
    position: relative;
  }
  @media (max-width: 767px) {
    .hero-title-block__title {
      font-size: 30px;
      line-height: 1.2;
      text-align: center;
    }
    .hero__title-block {
      gap: 40px;
      align-items: center;
    }
  }
}

/* ------------------------ */
/* Стилі для попапу */
.close {
  position: absolute;
  top: 0;
  right: 0;

  z-index: inherit;
}

.popup-arrow {
  display: none;
}
.popup-content {
  z-index: 99991 !important;
}
.hero-title__popup-content .popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 200px;
  width: 345px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 22;
  a {
    @include font-tel;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: url("../../images/hero/vector-sots-top.svg") 0 0 no-repeat;
    width: 145px;
    height: 119px;
  }
  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    background: url("../../images/hero/vector-sots-bottom.svg") 0 0 no-repeat;
    width: 127px;
    height: 100px;
  }
  .hero-title__popup-content-item__link {
    &:active {
      @include link-active;
    }
    &:hover,
    &:focus {
      background: #000;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.popup-overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------ */
.hero-title-block {
  // .hero-title-block__title

  &__title {
    font-family: "Gilroy";
    font-size: 45px;
    font-weight: 500;
    line-height: 1.1;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.hero-title {
  // .hero-title__button

  &__button {
  }
}
.hero-button {
  // .hero-button__btn

  &__btn {
  }
}
.hero-social {
  // .hero-social__list

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    & > *:active {
      @include active-scale;
    }
  }

  // .hero-social__link

  &__link {
  }

  // .hero-social__img

  &__img {
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    &:hover,
    &:focus {
      @include hover-link;
    }
  }
}
.hero-social-list {
  // .hero-social-list__item

  &__item {
  }
}
