@import "../../scss/_variables.scss";
@import "../../scss/mixins.scss";

.advantages {
  position: relative;
  margin: 100px 0px 0px 0px;
  color: $white;
  @media (min-width: 769px) {
    margin: 180px 0px 0px 0px;
  }
  // .advantages__polygon

  &__polygon {
    z-index: -2;
    background-image: url("../../images/advantages/Polygon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    @media (min-width: 769px) {
      background-size: contain;
      background-position: center;
      margin: -81px 0px 0px 0px;
    }
  }

  // .advantages__title

  &__title {
    text-align: center;
    margin: 0px 0px 40px 0px;
    @media (min-width: 769px) {
      text-align: left;
    }
  }

  // .advantages__cards

  &__cards {
    ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
      @media (min-width: 769px) {
        & {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 1fr);
          grid-column-gap: 57px;
          grid-row-gap: 30px;
        }

        .item-0 {
          grid-area: 1 / 1 / 1 / 2;
        }
        .item-1 {
          grid-area: 2 / 1 / 2 / 2;
        }
        .item-2 {
          grid-area: 3 / 1 / 3 / 2;
        }
        .item-3 {
          grid-area: 2 / 3 / 2 / 2;
        }
        .item-4 {
          grid-area: 1 / 3 / 2 / 3;
        }
        .item-5 {
          grid-area: 2 / 3 / 2 / 3;
        }
        .item-6 {
          grid-area: 3 / 3 / 3 / 3;
        }
        .item-7 {
          grid-area: 3 / 3 / 4 / 4;
        }
      }
    }
  }
}
.container {
}
