@import "../../scss/mixins.scss";
@import "../../scss/variables";

.header {
  z-index: 1000;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: $white;
  // .header__logo-block

  &__logo-block {
  }

  // .header__right-menu
  &__right-menu {
    gap: 50px;
    display: flex;
    align-items: center;
  }

  // .header__nav

  &__nav {
  }

  // .header__contact-block

  &__contact-block {
  }
  // .container
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header-nav {
  // .header-nav__list

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 50px;
  }
}
.nav-list {
  // .nav-list__item

  &__item {
  }
}
.contact-block {
  // .contact-block__item

  &__item {
    @include font-tel;
  }
}
