@import "../../scss/mixins.scss";
@import "../../scss/variables";

.salons-cards {
  // .salons-cards__item

  &__item {
  }
}
.salons-item {
  @include fontTitle;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  > *:not(:first-child) {
    max-width: 265px;
    margin: 0px auto;
  }

  // .salons-item__image

  &__image {
    margin: 0px 0px 15px 0px;
    min-width: 345px;
    min-height: 260px;
  }

  // .salons-item__address

  &__address {
    font-style: normal;
  }

  // .salons-item__timetable

  &__timetable {
    font-weight: 400;
    opacity: 0.8;
  }

  // .salons-item__telephone

  &__telephone {
  }

  // .salons-item__btn

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.salons-timetable {
  // .salons-timetable__timetable

  display: flex;
  flex-direction: column;
  gap: 15px;

  &__timetable {
  }

  // .salons-timetable__weekend

  &__weekend {
  }
}

.salons-address {
  // .salons-address__text

  &__text {
  }
}
