@import "../../scss/mixins.scss";
@import "../../scss/variables";

.salons-cards {
  @media (min-width: 769px) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
  }

  // .salons-cards__item

  &__item {
  }
}
.salons-item {
  @include fontTitle;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  > *:not(:first-child) {
    max-width: 265px;
    margin: 0px auto;
  }

  @media (min-width: 769px) {
    gap: 20px;
    font-size: 20px;
    > *:not(:first-child) {
      max-width: none;
    }
    & > *:first-child {
      margin: 0px 0px 40px 0px;
    }
    & > *:last-child {
      margin-top: 40px;
    }
  }

  // .salons-item__image

  &__image {
    margin: 0px 0px 15px 0px;
    min-width: 345px;
    min-height: 260px;
    max-width: 345px;
    max-height: 260px;
    margin: 0px auto;

    @media (min-width: 769px) {
      max-width: 380px;
    }
  }

  // .salons-item__address

  &__address {
    font-style: normal;
  }

  // .salons-item__timetable

  &__timetable {
    font-weight: 400;
    opacity: 0.8;
  }

  // .salons-item__telephone

  &__telephone {
  }

  // .salons-item__btn

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black !important;
    transition: all 0.3s ease 0s;

    @media (min-width: 769px) {
      min-width: 159.66px !important;
    }
  }
}

.salons-timetable {
  // .salons-timetable__timetable

  display: flex;
  flex-direction: column;
  gap: 15px;

  &__timetable {
  }

  // .salons-timetable__weekend

  &__weekend {
  }
}

.salons-address {
  // .salons-address__text

  &__text {
  }
}
