// colors
$active-color: #ff8a1e;
$primary-color: linear-gradient(90deg, #ff8a1e 31.63%, #fff9d8 111.7%);

$white: #ffffff;
$black: #000000;

// variables font
$Montserrat: "Montserrat", sans-serif;
$Gilroy: "Gil", sans-serif;
