@import url("./zeroing.scss");
@import url("../components/Header/header.scss");
@import url("../components/Hero/hero.scss");
@import url("../components/Modals/modal.scss");
@import url("../components/Advantages/Advantages.scss");
@import url("../components/AdvantagesCards/AdvantagesCards.scss");
@import url("../components/Services/Services.scss");
@import url("../components/Guarantee/Guarantee.scss");
@import "./variables";
@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Regular.woff2") format(woff2);
  src: url("../assets/fonts/Gilroy-Medium.woff2") format(woff2);
  src: url("../assets/fonts/Gilroy-Light.woff2") format(woff2);
  src: url("../assets/fonts/Gilroy-Bold.woff2") format(woff2);
  font-display: swap;
}

$bg-color: #040404;

body {
  @include font;
  background-color: $bg-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  @media only screen and (max-width: 768px) {
    padding: 0 10px;
  }
}

button {
  font-family: "Montserrat", sans-serif;
}
[class*="__btn"] {
  & {
    position: relative;
    font-family: $Montserrat;
    font-weight: 400;
    background-color: transparent;
    color: $black;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    min-width: 400px;
    min-height: 60px;
    font-size: 18px;
    line-height: 1.22;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 1.25;
      min-width: 295px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: $primary-color;
    transition: all 0.3s ease 0s;
    transform: skew(-40deg);
    opacity: 1;
  }

  &:hover::before,
  &:focus::before {
    @include hover-link;
  }
  &:active {
    @include active-scale;
  }
}

a {
  &:hover,
  &:focus {
    @include link-active;
  }
  &:active {
    @include active-scale;
  }
}
