@mixin font {
  font-family: $Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
}

// tel num or
@mixin font-tel {
  font-family: $Gilroy;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
}

@mixin font-400-14 {
  font-family: $Gilroy;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin link-active {
  transition: all 0.3s ease 0s;
  background: linear-gradient(90deg, #ff8a1e 10%, #fff9d8 137%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
@mixin hover-link {
  opacity: 0.8;
}
@mixin active-scale {
  scale: 0.9;
  opacity: 0.6;
}

@mixin __title {
  &__title {
    @media (min-width: 767px) {
      font-size: 45px;
    }
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    /* gradient */
    background: $primary-color;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }
}
