@mixin font {
  font-family: $Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
}

// tel num or
@mixin font-tel {
  font-family: $Gilroy;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
}

@mixin font-400-14 {
  font-family: $Gilroy;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin link-active {
	transition: all 0.3s ease 0s;
  color: $active-color !important;
  // background: -webkit-linear-gradient(#ff8a1e, #fff9d8);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}
@mixin hover-link {
  opacity: 0.8;
}
@mixin active-scale {
  scale: 0.9;
  opacity: 0.6;
}
