@import "../../scss/_variables.scss";
@import "../../scss/mixins.scss";

.advantages-cards {
  // .advantages-cards__item

  &__item {
    opacity: 0;
    display: flex;
    align-items: center;
    gap: 13px;

    @media (min-width: 767px) {
      & {
        transition: opacity 0.5s;
      }
    }
    .advantages-cards-item__img-block {
    }
    .advantages-cards-item__text-block {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  .item-visible {
    opacity: 1;
  }
}
.advantages-cards-item {
  // .advantages-cards-item__img

  &-block__img {
  }

  // .advantages-cards-item__title

  &-block__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-transform: uppercase;
    @media (min-width: 767px) {
      font-size: 18px;
    }
  }

  // .advantages-cards-item__text

  &__text {
    font-weight: 300;
    line-height: 1.21;
    @media (min-width: 767px) {
      font-size: 15px;
    }
  }
}

.isVisible-true:nth-child(1) {
  transition-delay: 1s;
  opacity: 1;
}

.isVisible-true:nth-child(2) {
  transition-delay: 1.5s;
  opacity: 1;
}

.isVisible-true:nth-child(3) {
  transition-delay: 2s;
  opacity: 1;
}

.isVisible-true:nth-child(4) {
  transition-delay: 2.5s;
  opacity: 1;
}

.isVisible-true:nth-child(5) {
  transition-delay: 3s;
  opacity: 1;
}

.isVisible-true:nth-child(6) {
  transition-delay: 3.5s;
  opacity: 1;
}

.isVisible-true:nth-child(7) {
  transition-delay: 4s;
  transform: scale(1);
  opacity: 1;
}

.isVisible-true.visible {
  opacity: 1;
  transform: scale(1);
  transition-delay: 4.5s;
}
