@import "../../scss/_variables.scss";
@import "../../scss/mixins.scss";

.advantages-cards {
  // .advantages-cards__item

  &__item {
    display: flex;
    align-items: center;
    gap: 13px;

    @media (min-width: 769px) {
      & {
        transition: opacity 0.5s;
      }
    }
    .advantages-cards-item__img-block {
    }
    .advantages-cards-item__text-block {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  .item-visible {
    opacity: 1;
  }
}
.advantages-cards-item {
  // .advantages-cards-item__img

  &-block__img {
  }

  // .advantages-cards-item__title

  &-block__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-transform: uppercase;
    @media (min-width: 769px) {
      font-size: 18px;
    }
  }

  // .advantages-cards-item__text

  &__text {
    font-weight: 300;
    line-height: 1.21;
    @media (min-width: 769px) {
      font-size: 15px;
    }
  }
}

.advantages-cards__item {
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.View .advantages-cards__item {
  opacity: 1;
}

.item {
  transition-delay: 0s;
}

.item-1 {
  transition-delay: 0.2s;
}

.item-2 {
  transition-delay: 0.4s;
}

.item-3 {
  transition-delay: 0.6s;
}

.item-4 {
  transition-delay: 0.8s;
}

.item-5 {
  transition-delay: 1s;
}

.item-6 {
  transition-delay: 1.2s;
}
